.container{
  max-width: 1240px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}


.card-img-top {
  width: 100%; 
  height: auto; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;}
.card {
  width: 100%;
  max-width: 300px; 
  height: auto; 
  padding: 20px;
  margin-bottom: 20px; 
  border-radius: 10px; /
}



.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold; /
}

.card-text {
  font-size: 1rem; 
}